@import "tailwindcss";

:root {
  color-scheme: light;
}

html, body {
  min-height: 100%;
    scroll-behavior: smooth;
}
@keyframes slow-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slow-bounce {
  animation: slow-bounce 3s ease-in-out infinite;
}


.text-blue{
  color:#2572A7;

}
.bg-blue{
  background-color: #2572A7;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.bg-brand{
  background-color: #1e5b86;
}
.semiwhite{
  color: #E6F2F9;
}
.bg-brand-two{
  background-color: #346b92;
}
@keyframes typing-bounce {
  0% {
    width: 0;
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    width: 9ch;
    transform: scale(1);
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #2572A7;
  }
}

/* smoother, faster, slightly springy animation */
.animate-typing-bounce {
  width: 9ch;
  animation:
    typing-bounce 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    blink 0.6s step-end infinite;
  animation-fill-mode: forwards;
  border-right: 2px solid #2572A7;
}
