@import "tailwindcss";

:root {
  color-scheme: light;
}

html, body {
  min-height: 100%;
    scroll-behavior: smooth;
}
@keyframes slow-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slow-bounce {
  animation: slow-bounce 3s ease-in-out infinite;
}


.text-blue{
  color:#2572A7;

}
.bg-blue{
  background-color: #2572A7;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.bg-brand{
  background-color: #1e5b86;
}
.semiwhite{
  color: #E6F2F9;
}
.bg-brand-two{
  background-color: #346b92;
}